<!DOCTYPE html>
<html>
    <head>
        <title>Vereinsmeisterschaft</title>
        <link rel="shortcut icon" type="/image/png" href="/images/favicon.ico"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css" />
        <link rel="stylesheet" href="/stylesheets/app.css" />
        <script
	        src="https://code.jquery.com/jquery-3.3.1.min.js"
		    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		    crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
        <script src="/scripts/scripts.js"></script>
        <script src="/scripts/sort.js"></script>
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="fa fa-bullseye fa-2x"></i>Seb. Horrem</div>
                <a href="/meisterschaft" class="item">Meisterschaft</a>
                <a href="/teilnehmer" class="item">Teilnehmer</a>
                <a class ="item right floated disabled">Login</a>
                <a href="/meisterschaft/csv" class ="item">Export</a>
            </div>
        </div>
        
    